<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order=
            "true" name="C:/Users/Tanvi/IdeaProjects/RestAssuredLearning3">
        <classes><class name="org.example.Lab2">
            <methods><include name="getRequest1"/>
                <include name="getRequest2"/>
        </methods></class></classes></test></suite>